.header{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
}

.title{
    font-size: 8vw;
    /* font-size: 30px; */
    cursor: pointer;
    font-family: "Montserrat", "sans-serif";
    text-transform: uppercase;
}   

.divider{
    width: 100%;
    margin: 10px;
    background-color: gray;
}